table {table-layout: fixed;}
td {
    height: 120px;
    vertical-align: top;
    border: 1px solid #ccc;
    padding: 5px;
}

.dia-numero {
    font-weight: bold;
}

.cita {
    background-color: #dff5fd;
    border-left: 5px solid #1a237e;
    margin-top: 5px;
    padding: 2px 4px;
    font-size: 0.85em;
    border-radius: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}