/* Título */
h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #1a237e !important;
  font-family: "Georgia", serif;
}

.zona-info {
  font-weight: bold;
  color: #198754;
  margin-top: 15px;
}

.cuerpo-img {
  max-width: 100%;
  height: auto;
}

.body-container {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  margin-top: 30px;
  flex-wrap: wrap;
  align-items: flex-start;
}

form {
  flex: 1;
  min-width: 300px;
}

.imagen-cuerpo {
  max-width: 400px;
  flex-shrink: 0;
  text-align: center;
}